/*Custon fonts*/
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}
/*Defult CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}


.App {
  text-align: center;
}

.logo{
  height:50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.me-auto{
  gap:10px;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}


 .navbar-link:hover{
  color: white !important;
  opacity: 1;
 }

.navbar-link{
   font-weight: 400;
   color: #fff !important;
   letter-spacing: 0.8px;
   padding: 0 25px;
   font-size: 18px;
   opacity: 0.75;
   text-decoration: none; 
   display: inline-block; 
   cursor: pointer;
   gap: 10px;
 }

 .navbar-text{
  padding: 5px;
  border: 1px solid white;
 }

 span{
  color: white;
 }
 

 
span.navbar-text {
    display: flex;
    align-items: center;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

#hotel-name{
  color: white;
}

.brand{
  display: flex;
  flex-direction: row;
  }
 
  .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* HomeBody */

.body-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
}

.section-head{
  font-size: 25;
  text-decoration: underline;
}

.main-body-photo{
  height: 200px;
  width: 400px;
  gap: 20px;
  
}

#hotel-photo1{
  height: 200px;
  width: 400px;

}

.main-photos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section p {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
}
.description{
  display: flex;
  flex-direction: column;
  gap :10px
}

/* form css */

#reservation-form{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.form-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.mb-3{
  display: flex;
  flex-direction: column;
  text-align: left;
}

  #edit{
    width: 50%;
    height: 70px;
  border: 1px solid white
}

.button-container{
  display: flex;
  gap: 10px;
}

#submit{
  width: 50%;
  border: 1px solid white;

  
}
/* Manager view CSS */

.manager-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
}

.rooms{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.manager-header{
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  gap: 20px;

}

.fa-user-tie{
  margin-top: 10px;;
  font-size: 30px;
}


/* EditReservation */

#search-reservation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
}

.modal label{
  color: black;
}

#search-reservation div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; 
}

#confirm-search {
  padding: 8px;
  width: 200px; 
  text-align: center; 
}

#submit-code {
  padding: 8px;
  cursor: pointer;
}
.modal-dialog{
  width: 800px;
}

.modal{
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.modal-body form{
}

.modal-content{
  display: flex;
  justify-content: space-between;
}

.modal-footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;

}

.btn-modal-close{
  width: 40%
}

.btn-modal-submit{
  width: 40%;
}